.app-container{
  max-width: 320px;
  margin: 0 auto;
}

.search-form{
  width: 250px;
  margin: 30px auto;
  color: #002;
}

.search-form input{
  width: 100%;
  border-style: none;
  padding:10px;
}

.cocktail-container img{
   width: 100%;
   margin-top: 20px;
}

.cocktail-container h4{
  margin: 5px;
}

.btn{
  text-decoration: none;
  background-color: blanchedalmond;
  padding:5px;
}

.nav-container{
  background-color: beige;
  padding:10px 0;
  display: flex;
  align-items: center;
}

.nav-container h3{
  color: burlywood;
  margin: 0 auto;
}

.link{
  text-decoration: none;
  padding:2px;
}

.single-cocktail img{
  width:100%;
  margin-top: 30px;
}

.single-cocktail span{
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.alcoholic{
    margin: 0 25px;
}

.glass{
  margin-top:0;
}